<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite 1">
            <directory>tests/api</directory>
        </testsuite>
        <testsuite name="Test suite 2">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>