{% extends '/templates/default.twig' %}

{% block content %}

  {% include '/partials/header.twig' %}

  <main class="main-content no-sidebar">
    {% block main %}{% endblock %}
  </main>

{% endblock %}
