{% extends '/templates/default.twig' %}

{% block content %}
  {% include '/partials/header.twig' %}
  <main class="privacy-content no-sidebar">
    {% block main %}{% endblock %}
  </main>
{% endblock %}