@import
  "colors",
  "typography",
  "media-queries";

  $font-family: 'Nunito', 'Helvetica', 'arial';
  $main-bg-color: #f5f5f5;
  $text-color: gray;
  $primary-color: #78e08f;
  $sidebar-bg-color: rgb(87, 99, 102);
  $sidebar-bg-color: #373d49;
  $sidebar-color: #495057;
  $sidebar-width: 106px;
  $navbar-height: 60px;
  $breakpoint-one: 700px;
