.button {
  background-color: $primary-color;
  color: white;
  display: block;
  width: 100%;
  padding: 1em .5em;
  text-align: center;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid darken($primary-color, 20%);
  transition: .3s;

  &:hover {
    cursor: pointer;
    background-color: darken($primary-color, 5%);
  }
}
