.comments-form {
  margin-bottom: 2em;

  textarea {
    height: 80px;
    width: 100%;
    background-color: #f5f5f5;
    color: gray;
    margin-bottom: .7em;
    padding: 1em;
    border: none;
    border-radius: 5px;

    &:focus {
      outline-color: $primary-color;
    }
  }

  .button {
    width: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
