.media-list {
  @extend .clearfix;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 3%;
    width: 48%;
    display: inline-block;
    @media screen and (min-width: 700px) {
      display: inline-block;
      width: 31.333333333333332%;
      float: left;
      margin-right: 3%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 1000px) {
      width: 22.3334%;
      width: 22.75%;
      margin-bottom: 3%;
      margin-right: 3%;

      &:nth-child(3n) {
        margin-right: 3%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

  }
}
.media-list-item {

}
