.padding {
  padding: 1em
}

.padding-vertical {
  padding: 1em 0
}

.padding-horizontal {
  padding: 0 1em
}

.padding-top {
  padding-top: 1em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-left {
  padding-left: 1em;
}

.padding-right {
  padding-right: 1em;
}

.padding-none {
  padding: 0;
}
