<header class="header">
  <a href="/">Tasteez</a>
<ul>
  <li>
    {% if loggedIn == true %}
      <a href="/auth/logout">Sign Out</a>
    {% else %}
      <a href="/auth/login">Sign In</a>
      <a href="/auth/register">Sign Up</a>
    {% endif %}
  </li>
</ul>
</header>
