<form class="search-bar" action="/search" method="get">
  <div class="input">
    <span class="input__icon">
      <i class="fas fa-search"></i>
    </span>
    <input name="query" placeholder="Search for a meal" class="input__input" value="">
  </div>
</form>