<nav class="navbar">
  <a class="navbar__link" href="/">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>
  <a class="navbar__link" href="/meals/discover">
    <i class="fas fa-search"></i>
    <span>Discover</span>
  </a>
  <a class="navbar__link" href="/meals/favourites">
    <i class="fas fa-heart"></i>
    <span>Favourites</span>
  </a>
  <a class="navbar__link" href="/user/account">
    <i class="fas fa-user"></i>
    <span>Account</span>
  </a>
  <a class="navbar__link" href="/contact">
    <i class="fas fa-envelope"></i>
    <span>Contact</span>
  </a>
</nav>
