@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');

html {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: red;
  background-color: $main-bg-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

img, iframe {
  max-width: 100%;
}

a {
  color: #0366d6;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
