body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  @media screen and (min-width: 700px) {
    // font-size: $font-size * 1.2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, {
  margin-top: 0;
  margin-bottom: .6em;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 1.8em;
}

p,
li,
td,
label,
input {
  color: $text-color;
}

h1, .h1 {
  font-size: 2.8rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.7rem;
}

h4, .h4 {
  font-size: 1.4rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;

  &.u-text-center:after {
    margin: auto;
  }
  &:after {
    content: "";
    display: block;
    width: 3em;
    height: .25em;
    background-color: $primary-color;
  }
}
