{% set title = 'Account' %}

{% extends './templates/nosidebar.twig' %}

{% block main %}
  <h2 class="title">User Account</h2>
   <h3 id="message"></h3>
  {% if emailUpdated == true %}
    <h4>Your email is updated</h4>
  {% elseif emailError == true %}
    <h4>Make sure to type in correct emails!</h4>
  {% elseif passwordUpdated == true %}
    <h4>Your password is updated</h4>
  {% elseif passwordError == true %}
    <h4>Make sure to type in correct passwords!</h4>
  {% elseif delete == true %}
    <h4>Your account is successfully deleted!</h4>    
  {% elseif deleteError == true %}
    <h4>Please try again.</h4>  
  {% endif %}
      <div class="box">
        <h3 class="h4">Update Email</h3>
        <div class="form" >
        <div class="input">
            <input id="oldEmail" placeholder="Old Email" class="input__input" type="text" name="oldEmail" value="">
          </div>

          <div class="input">
            <input id="newEmail" placeholder="New Email" class="input__input" type="text" name="email" value="">
          </div>
          
          <button class="button" type="submit" name="update" onclick="updateEmail()">Update Email</button>
        </div>
      </div>
 
  
    <div class="box">
      <h3 class="h4">Update Password</h3>
      <div class="input">
            <input id="oldPassword" placeholder="Old Password" class="input__input" type="password" name="oldPassword" value="">
          </div>
      <div class="form">
        <div class="input">
          <input id="newPassword" placeholder="New Password" class="input__input" type="password" name="password" value="">
        </div>
        
        <input class="button" type="submit" name="" value="Update Password" onclick="updatePassword()">
      </div>
    </div>

    <div class="box">
      <h3 class="h4">Delete Account</h3>
      <h3 class="h6"><a class="privacy-policy" href="/privacy-policy">Terms and Conditions</a></h3>

      <form class="form" action="/user/delete-account/{{ userId }}" method="post">
        <input class="button" type="submit" name="delete" value="Delete Account">
      </form>
    </div>
  <script>
    function updateEmail() {
      let oldEmail = document.getElementById("oldEmail");    
      let newEmail = document.getElementById("newEmail");

      var url = '/api/user/update-email';
        
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
              var res = JSON.parse(xhr.responseText);
              oldEmail.value = '';
              newEmail.value = '';
              document.getElementById("message").innerHTML = res.message;

          } else if(xhr.status === 400) {
            var res = JSON.parse(xhr.responseText);
            document.getElementById("message").innerHTML = res.message;
          }
      };
      var data = JSON.stringify({ oldEmail: oldEmail.value, email: newEmail.value });
      xhr.send(data);

    }


    function updatePassword() {
      let oldPassword = document.getElementById("oldPassword");    
      let newPassword = document.getElementById("newPassword");

      var url = '/api/user/update-password';
        
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var res = JSON.parse(xhr.responseText);
            console.log(res.message);
            oldPassword.value = '';
            newPassword.value = '';
            document.getElementById("message").innerHTML = res.message;

          } else if(xhr.status === 400) {
            var res = JSON.parse(xhr.responseText);
            document.getElementById("message").innerHTML = res.message;

          }
      };
      var data = JSON.stringify({ oldPassword: oldPassword.value, password: newPassword.value });
      console.log(data)
      xhr.send(data);


    }

  </script>

{% endblock %}
