{% set title = 'Most Popular' %}

{% extends './templates/main.twig' %}

{% block main %}
    <h2 class="title">Most Popular</h2>
    {% include './partials/meals.twig' with {"meals" : mostPopularMeals}%}
{% endblock %}
