{% set title = 'Privacy Policy' %}

{% extends './templates/privacy-template.twig' %}

{% block main %}
        <div class="box-privacy">
          <h1 class="u-text-center">Privacy Policy</h1>
          <p>Effective date: September 26, 2018</p>
          <p> This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. 
            We use the data that you provide to us to improve and supply the service. By using the service and registering on our website, you agree to the storage and use of your Personal Data in accordance with this policy.
          </p>
          
          <h2>Information Collection And Use</h2>
          <p>We collect different types of data from you in order to provide you with this service.</p>

          <h3> Types of Data Collected</h3>
          <b>Personal Data</b>

          <p> When registering with our service, we will ask you to provide us with some personally identifiable information that can be used to identify you. This data includes:</p>
            
            <ul>
              <li>- Email address</li>
              <li>- Username</li>
              <li>- We also use User IDs in order to identify users on our site</li>
            </ul>
          <br/>
          <b>Cookies Data</b>
          <p> We use cookies to hold certain information.
           Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. These cookies are used in order to login to the website and stay logged in as you navigate through the site. You can set your browser to refuse these cookies. This may result in you not being able to use some portions of the service.
          </p>
          <p>Examples of Cookies we use:</p>
            <ul>
             <li><b>- Session Cookies: </b>We use Session Cookies to operate our service.</li>
            </ul>
          </p>
          

          <h2>Use of Data</h2>

          <p> Tasteez uses a collected data for various purposes:

            <ul>
              <li>- To provide and maintain the service</li>
              <li>- To provide customer care and support<li>
              <li>- To detect, prevent and address technical issues</li>
              <li>- To sell trend data</li>
            <ul>
            
          </p>

          <h2>Transfer of Data</h2>

          <p>Your information that we hold on you including Personal Data, may be transferred to and maintained on servers which are outside of your country where the data protection laws may differ than those form your country.</p>
          <p>If you are located outside Austria and provide your information to us, please note that we transfer your data, including Personal Data to Austria and process it there.</p>
          <p>By registering on our site and agreeing to this Privacy Policy followed by your submission of your Personal Data represents your agreement to this transfer.</p>
          <p>Tasteez will ensure that your data is transferred securely and in accordance with this Privacy Policy, no transfer of your Personal Data will take place unless there are competent controls in place for doing so.</p>

          <h2> Disclosure of Data</h2>
          <p>No transfer of personally identifiable information data will take place to third parties without your explicit permission to do so. We will never sell or rent your Personal Data to a third party. Unless required under a legal obligation, we will never share any of your Personal Data without your consent. We do sell some data that we collect as you use our service such as recipes liked and favourited. Only trend data will be sold and not any of your personally identifiable data. The data that will be sold is completely anonymous. </p>

          <h2>Service Providers</h2>
          <p>We employ a third party company to facilitate the storage of your Personal Data. This third party has access to your Personal Data only to perform these services and processing on our behalf and are obligated not to disclose your data to anyone or use it for any other purpose.</p>

          <h2>Links to Other Sites</h2>
          <p>Our service may contain links from time to time to other sites which are not operated by Tasteez. Once you leave the site, we have no control over and assume no responsibility for the protection and privacy of any information which you provide. You should exercise caution when doing so and we strongly advise you to review the Privacy policy of every site you visit.</p>

          <h2>Security of Data</h2>
          <p>The security of your data is a top priority for us. The transmission of data across the internet is not always completely secure. We cannot guarantee its absolute security while in transit. Once the data has been sent to us, we will use security features and strict procedures to prevent unauthorised access.</p>

          <h2>Changes to this Privacy Policy</h2>
          <p>We may update our Privacy Policy from time to time by updating this webpage. Each time you enter this site and use our service you agree to the current version of the Privacy Policy at that time shall apply to the data that we hold about you. The effective date of this privacy policy is posted at the beginning of this document.</p>

          <h2>Contact Us</h2>
          <p>If you have any questions about this Privacy Policy, please contact us by clicking <a href="/contact">here</a></p>
        </div>
{% endblock %}
